* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Metrophobic', sans-serif;
    background-color: #ffffff;
    background: url('https://media-cdn.tripadvisor.com/media/photo-s/04/98/48/af/ming-garden-chinese-restaurant.jpg') fixed;
    color: #363946;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main {
    margin: 0, auto;
}

input {
    display: block;
}

h1, h2, label {
    text-align: center;
    color: white;
    background-color: rgba(235, 122, 17, 0.3);
}